/* .productList{ 
     display: flex;
    justify-content: center;  
   
}*/

/* .productContainer{
    width: 100%;
    max-width: 1250px;
    padding-left: 10%;
  
} */
.sectionHeading{
    padding: 15px 25px;
    background-color: rgb(248, 244, 244);
    font-weight: 700;
    color: rgb(70, 59, 59);
    display: inline-block;
   
}

/*================ media ================== */
@media screen and (max-width: 445px){
   .sectionHeading{
    font-size: 13px;
    padding: 5px 5px;
   }
   .productList Button{
      font-size: 10px;
      width: 80px;
      height: 30px;
   }
}