.container{
   display: grid;
   grid-template-rows: 60px auto;
   grid-template-columns: .7fr 3fr;
   gap: 10px 10px;
   background-color: rgb(233, 227, 227);

}
.container div{
    background-color: white;
    /* box-shadow: 5px 5px rgb(226, 223, 223); */
}
.asideHead{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cardBoxHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.cardBox{
  display: flex;
  flex-wrap: wrap;
}
.sorting > span {
  margin: 0 10px;
}
.loader{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}