.container{
   display: grid;
   grid-template-rows: 60px auto;
   grid-template-columns: .7fr 3fr;
   gap: 5px 5px;
   background-color: rgb(233, 227, 227);

}
.container div{
    /* border-bottom: 1px solid rgb(224, 224, 225); */
    background-color: rgb(255, 255, 255);;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 2px;
}
.asideHead{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cardBoxHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.catName{
   font-size: 20px;
   font-weight: 600; 
}
.cardBox{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.sorting > span {
  margin: 0 10px;
}
.loader{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginationBox{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* // ============ media quary =============== // */
@media screen and (max-width: 1115px){
  .cardBox{
    padding-left: 80px;
  }
}
@media screen and (max-width: 1070px){
  .cardBox{
    justify-content: space-around;
  }
}
@media screen and (max-width: 800px){
  .cardBox{
    padding-left: 5px;
  }
}
@media screen and (max-width: 722px){
  .container{
   grid-template-columns: .3fr 3fr;

  }
}
@media screen and (max-width: 565px){
    .aside , .asideHead{
      display: none;
    }
    .container{
      display: block;
    }
}
@media screen and (max-width: 485px){
  .catName{
    font-size: 16px;
    font-weight: 500; 
 }
 .cardBoxHeader{
  padding: 0 5px;
 } 
}
