.searchPageHeader{
    background-color: rgb(233, 227, 227);
    height: 50px;
}
.searchPageHeader span{
    margin: auto 7px;
}


@media screen and (max-width: 600px){
    a,span{
        margin-left: 50px;
    }
}


