.searchPageHeader{
    background-color: rgb(233, 227, 227);
    height: 50px;
}
.searchPageHeader span{
    margin: auto 7px;
}


@media screen and (max-width: 600px){
    .homeIcon{
        position: absolute;
        top: 52px;
        left: 50px;
    }
    .arrow{
        position: absolute;
        top: 63px;
        left: 90px;
    }
    .itemName{
        position: absolute;
        top: 63px;
        left:122px;
    }
}


